/* ToolList.css */

/* Tool Card styles */
.tool-card {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .tool-card img {
    width: 100%;
    border-radius: 10px;
  }
  
  .tool-card h3 {
    margin-top: 20px;
    color: #333;
  }
  
  .tool-card p {
    color: #666;
  }
  
  /* Services.css */
  
  /* Content styles */
  .content {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .content h1 {
    text-align: center;
    color: teal;
    margin-bottom: 20px;
  }
  
  .content p {
    text-indent: 20px;
    color: #333;
    line-height: 1.6;
  }
  